{% extends 'base.html.twig' %}
{% block menu %}
    <nav role="navigation" class="menuTopWrap topMenuStyleLine" style="background-color: red">
        <ul id="mainmenu" class="inited sf-js-enabled sf-arrows">

            <li class="menu-item current-menu-ancestor menu-item-has-children">
                <a href="index.html">Homepage</a>
                <ul class="sub-menu">
                    <li class="menu-item current-menu-item">
                        <a href="index.html">Homepage (Babysitter)</a>
                    </li>
                    <li class="menu-item">
                        <a href="index2.html">Homepage (Health Care)</a>
                    </li>
                    <li class="menu-item">
                        <a href="index3.html">Homepage (Learn &#038; Play)</a>
                    </li>

                </ul>
            </li>


            <li class="menu-item menu-item-has-children">
                <a title="Layouts and hovers" href="">
                    <span class="menu_icon icon-thumbs-up"></span>
                    Portfolio
                </a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children">
                        <a href="">Classic Style</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="portfolio-classic-1-column.html">1 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-classic-2-columns.html">2 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-classic-2-columns-with-sidebar.html">2 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-classic-3-columns.html">3 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-classic-3-columns-with-sidebar.html">3 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-classic-4-columns.html">4 columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="">Masonry style</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="portfolio-masonry-2-columns.html">2 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-masonry-2-columns-with-sidebar.html">2 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-masonry-3-columns.html">3 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-masonry-3-columns-with-sidebar.html">3 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-masonry-4-columns.html">4 columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="">Grid Style</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="portfolio-grid-2-columns.html">2 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-grid-2-columns-with-sidebar.html">2 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-grid-3-columns.html">3 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-grid-3-columns-with-sidebar.html">3 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-grid-4-columns.html">4 columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="">Portfolio post</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="portfolio-post-standard.html">Standard</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-post-fullscreen.html">Fullscreen</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children">
                <a title="Posts pages" href="">
                    <span class="menu_icon icon-note"></span>
                    Blog
                </a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children">
                        <a href="">Classic Style</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="features-tools-post-formats-n-all-widgets.html">With sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio-blog-classic-without-sidebar.html">Without sidebar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="">Masonry Style</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="blog-masonry-2-columns.html">2 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-masonry-2-columns-with-sidebar.html">2 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-masonry-3-columns.html">3 columns</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-masonry-3-columns-with-sidebar.html">3 columns with sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-masonry-4-columns.html">4 columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="blog-timeline.html">Timeline Style</a>
                    </li>
                    <li class="menu-item">
                        <a href="blog-tabs.html">Tabs Style</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="">Single post</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="blog-single-post-standard.html">Standard Post</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-single-post-standard-with-sidebar.html">Standard Post with Sidebar</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-single-post-reviews.html">Reviews Post</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-single-post-reviews-with-sidebar.html">Reviews Post with Sidebar</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="">Gallery Post</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="blog-single-post-gallery-standard.html">Standard Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="blog-single-post-gallery-theme-styled.html">Theme Styled Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="blog-single-post-gallery-theme-slider.html">Theme Slider instead of Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="blog-single-post-video.html">Video Post</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-single-post-audio.html">Audio Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    {% endblock %}
{% block body  %}



{% endblock %}