{% extends 'base.html.twig'  %}
{% block body%}
    <div id="topOfPage" class="topTabsWrap">
        <div class="main">
            <div class="speedBar">
                <a class="home" href="index.html">Home</a>
                <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                <a class="all" href="#">All Posts</a>
            </div>
        </div>
    </div>

    <div class="mainWrap without_sidebar">
        <div class="main">
            <div class="content">

                <section class="no_padding">
                    <div class="container">

                        <section class="post tribe_events_wrapper">
                            <article class="post_content">
                                <div id="tribe-events-pg-template">
                                    <div id="tribe-events" class="tribe-no-js">
                                        <div class="tribe-events-before-html"></div>




                                    </div>
                                            <div id="tribe-events-content" class="tribe-events-list">


                                                    <h3 class="tribe-events-visuallyhidden">Les  evenements de la semaine  </h3>

                                                </div>
                                                <div class="tribe-events-loop vcalendar">

                                                    <div class=" vevent type-tribe_events tribe-clearfix tribe-events-category-party tribe-events-category-private   tribe-events-first">


                                                        <div class="tribe-events-event-image">
                                                            <a href="features-tools-events-calendar-single.html" title="">
                                                                <img src="images/300x193.png" alt="" title=""/>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>


                                        <div class="tribe-events-after-html"></div>
                                    </div>

                            </article>
                        </section>

                    </div>
                </section>

            </div>

        </div>
    </div>
{% endblock %}